/*

	-------------------	
	SHELBY TEMPLATE 1.1
	-------------------

	CSS STRUCTURE
	-----------------
	01. Import Font Family
	02. CSS Reset
	03. General Settings
	04. Header Settings
	05. About Settings
	06. Portfolio Settings
	07. Contact Settings
	08. Footer Settings
	09. Responsive Settings
	
	-------------------	
	TEMPLATE BY BRUK.HU
	-------------------
	
*/

/* 01 IMPORT FONT FAMILY
--------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Raleway:500,800);

/* 02 CSS RESET
--------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 03 GENERAL SETTINGS
--------------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clear{
	clear: both;
}

body {
	background: #fff;
	font: 300 14px 'Raleway', sans-serif;
	text-align: center;
	color: #696969;
}

p {
	line-height: 2;
	padding-bottom: 25px;
}


a {
	color: #2E1A47;
	text-decoration: none;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear
}

a:hover { color: #999; }

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

/* Section Titles */
.section_title {
	margin: 0 0 15px 0;
	color: #371F54;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.section_subtitle {
	margin: 0 0 25px 0;
	font: italic 18px 'Raleway', sans-serif;
	text-transform: none;
}

/* Containers */
.container_small, .container_big {
	width: 100%;
	margin: 0 auto;
}

.container_small {max-width: 900px;}
.container_big {max-width: 1050px;}


/* Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.kelli-fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.kelli-fade-in.cmon {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

/* 04 HEADER SETTINGS
--------------------------------------------------------------- */

#welcome {
	background: url('../images/Kelli-7.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 680px;
	position: relative;
}

.fade {
	background: rgba(25,25,25,0);
	width: 100%;
	height: 100%;
}

/* Header Titles */
.header_title {
	color: white;
	text-shadow: 2px 2px 1px black;
	font-size: 24px;
	letter-spacing: 6px;
	margin: 0 0 10px 0;
	text-align: right;
}

.header_subtitle {
	color: #FFFFFF;
	text-shadow: 2px 2px 1px black;
	font-size: 14px;
	letter-spacing: 6px;
	text-align: right;
}

/* Vertical centering */
.parent {display: table;}

.child {
    display: table-cell;
    vertical-align: middle;
}

/* Navigation */
nav a {
	display: block;
	height: 15vh;
	line-height: 15vh;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 6px;
}

nav a:hover { 
	color: #ffffff;
	background: #371F54
}

nav ul {
	background: #ffffff;
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
}

nav ul li:hover {
	background: #371F54;
}

.hide { display: none }

.burger {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 50px;
	left: 50px;
	cursor: pointer;
}

/* 05 ABOUT SETTINGS
--------------------------------------------------------------- */

#about {
	padding: 100px 50px;
	background-color: #f5f5f5;
 }

 #about p {
	text-align: left;
}

.button {
	padding: 0 20px;
	line-height: 50px;
	border: 2px solid #371F54;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear
}

.button:hover {
	background: #371F54;
	color: #fff;
}

#whyme {
	background: #ffffff;
	padding: 50px 0px;
}

.whyinfo {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
}

.whyinfo div {
	flex: 0 0 30%;
	-webkit-flex: 0 0 30%;
}

.info div:first-child,
.info div:last-child {
	border: 0;
}

.whyinfo h3 {
	color: #371F54;
	margin: 0 0 15px 0;
	text-align:left;
}

/* 06 PORTFOLIO SETTINGS
--------------------------------------------------------------- */

#portfolio {
	background: #f5f5f5;
	padding: 50px; 
}

.works {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
}

.works article {
	position: relative;
	background: #f5f5f5;
	flex: 0 0 31.5%;
	-webkit-flex: 0 0 31.5%;
	margin: 0 0 25px;
	overflow: hidden;
	border: 1px solid #e1e1e1;
}

.border {
	border:5px solid #fff;
	overflow: hidden;
}

.works  a:hover {
	color: #371F54;
}

.works img {
	display: block;
	-webkit-transition: all 1000ms linear;
	-moz-transition: all 1000ms linear;
	-o-transition: all 1000ms linear;
	-ms-transition: all 1000ms linear;
	transition: all 1000ms linear;
	overflow: hidden;
	box-shadow: #000 0 0 0;
}

.works img:hover {
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	-o-transform:scale(1.3);
	transform:scale(1.3);
	-webkit-transition: all 5000ms linear;
	-moz-transition: all 5000ms linear;
	-o-transition: all 5000ms linear;
	-ms-transition: all 5000ms linear;
	transition: all 5000ms linear;
}


.caption {
	background: rgba(255,255,255, 0.75);
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #000;
}

/* 07 CONTACT SETTINGS
--------------------------------------------------------------- */

#contact {
	padding: 50px;
	background-color: #f5f5f5;
}

.info {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
	margin: 0 0 50px 0;
}

.info div {
	flex: 0 0 31.5%;
	-webkit-flex: 0 0 31.5%;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;	
}

.info div:first-child,
.info div:last-child {
	border: 0;
}

.info .fa {
	font-size: 36px;
	margin: 0 0 10px 0;
}

.info h3 {
	color: #371F54;
	margin: 0 0 15px 0;
}

.email a {
	color: #999;
	
}

.email a:hover {
	color: #371F54;
	
}

/* Social icons */
.social {
	max-width: 250px;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
	margin: 0 auto;
}

.social a {
	flex: 0 0 30px;
	-webkit-flex: 0 0 30px;
	border: 2px solid #371F54;
	height: 30px;
	line-height: 26px;
	font-size: 16px;
	color: #371F54;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear
}

.social a:hover {
	background: #371F54;
	color: #fff;
}


#blog {
	background: #f5f5f5;
	padding: 100px 50px;
}

/* TESTIMONIAL SETTINGS
--------------------------------------------------------------- */
#testimonials {
	padding: 50px;
}
blockquote {
  margin: 30px auto;
  padding: 0px 20px 0px 20px;
}
blockquote p {
  margin: 0;
  font: italic 18px 'Raleway', sans-serif;
  text-transform: none;
  line-height: 1.5;
}

blockquote cite {
  display: inline-block;
  margin-top: 1em;
  padding-top: 1em;
  line-height: 1;
  font-weight: 400;
  color: #696969;
  border-top: 1px solid #371F54;
  text-transform: uppercase;
}

/*.outside {
	margin-top:1em;
}*/


/* 08 FOOTER SETTINGS
--------------------------------------------------------------- */

/*footer {
	background: #f5f5f5;
}*/

.container_footer {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
}

footer p {
	line-height: 1;
}

.left, .right {	width: 50%;}

.left {
	float: left;
	text-align: left;
}

.left span {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.right {
	float: right;
	text-align: right;
	text-transform: uppercase;
}

.right a { color: #999 }

.right a:hover { color: #371F54 }

/* 09 RESPONSIVE SETTINGS
--------------------------------------------------------------- */

/* Width */
@media (max-width: 640px) {
	.burger {
		top: 25px;
		left: 25px;
	}

	.section_subtitle { margin: 0 0 25px 0; }
	#about, #contact, #whyme { padding: 25px; }
	
	#portfolio { padding: 25px; }
	
	.works article {
		flex: 0 0 48%;
		-webkit-flex: 0 0 48%;
		margin: 0 0 15px;
	}
	
	.container_footer { padding: 60px 25px; }
}

@media (max-width: 600px) {
	.burger {
		width: 45px;
		height: 45px;
		line-height: 45px;
	}
}

@media (max-width: 480px) {
	.works article {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	
	.info div {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		padding: 20px 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid #e1e1e1;
		border-top: 1px solid #e1e1e1;
	}

.whyinfo div {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		padding: 20px 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid #e1e1e1;
}	
	
	.info div:first-child { padding-top: 0;}

	.info div:last-child { padding-bottom: 0;}
	
	.info { margin: 0 0 35px 0; }
	
	.whyinfo { margin: 0 0 35px 0; }
		
	.social { max-width: 200px; }
}

@media (max-width: 360px) {

	.container_footer { padding: 30px 25px; }
	.left, .right {
		width: 100%;
		text-align: center;
	}
	.left { padding: 0 0 15px 0;}
}

/* Height */
@media (max-height: 568px) {
	#welcome { height: 100vh; }
}



/* 10 RESUME SETTINGS
--------------------------------------------------------------- */

.resume {
	padding: 50px;
	
	}

.resume p {
	text-align:left;
	padding-bottom: 0px;
	}

.resume h5 {
	text-align:left;
	color:#301934;
	margin-bottom:10px;
	}
.resume .section_title {
	margin-bottom: 25px;
}

.resume h4 {
	font-size: 19px;
	margin-bottom: 15px;
	text-align: left;
}

.resume .left {
	padding-right: 25px;
}

.resume .right {
	padding-left: 25px;
	text-transform: none;
}
	
p.justify {
	line-height:1.5em;
	}
	
p.bold {
	text-align: center;
	font: 800 14px 'Raleway', sans-serif;
	line-height: 2;
	}

.resume li{
	text-align:left;
}

.pswp__caption__center {
    max-width: 1200px;
}

ul li {
    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list's container
     */
    list-style-position: outside;
	list-style-type:circle;
	line-height: 1.5em;

    /*
     * Because the bullet is outside of the list's
     * container, indent the list entirely
     margin-left: 1em;*/
    
	margin-top: 15px;
}

i {
	font-style: italic;
}